
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;   
    flex-direction: column;  
    background-color: aquamarine;
}
button{
    width: 100px;
    text-decoration-color: black;
    background-color: brown;
    margin-top: 20px;
    padding: 10px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
img{
    height: 500px;
    width: 500px; 
}